<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            text-align: center;
        }
        h1 {
            color: #2c3e50;
        }
        span {
            font-size: 0.8em;
            color: #7f8c8d;
        }
        a {
            color: #3498db;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>
        Learn Express <span>
            <a href="https://expressjs.com/">Express Documentation</a>
        </span>
        
        <p>This website is running inside a Server at port 3000 </p>

        <p>To run this website, use the command <code>npm start</code></p>
        <h4>sum </h4> <%2+3%>
    </h1>
</body>
</html>